<br>
<div *ngIf="!user">
<button mat-button color="success" (click)="loginWithGoogle()">se connecter avec Google</button>
</div>
<div *ngIf="user">
  bonjour {{user.displayName}}
<button mat-raised-button (click)="signOut()">Deconnexion</button>
</div>



