<button mat-button [matMenuTriggerFor]="loginMenu">Connection</button>
<mat-menu #loginMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="navigateTo('login')">Login</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="contactMenu">Contact</button>
<mat-menu #contactMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="navigateTo('contact')">Ecrire</button>
  <button mat-menu-item (click)="navigateTo('location')">Adresse</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="albumMenu">Album</button>
<mat-menu #albumMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="navigateTo('album')">Photo</button>
</mat-menu>


<router-outlet></router-outlet>
